.Quote {
    border: 1px dashed #000000;
    margin: 0 auto;
    margin-top: 20px;
    width: 900px;
    padding: 20px;
    position: relative;
    border-radius: 5px;
}

.Text {
    width: 75%;
}

.Author {
    font-weight: bold;
}

.Buttons {
    position: absolute;
    top: 5px;
    right: 10px;
}

.EditBtn {
    background: #fffb05;
    background-image: -webkit-linear-gradient(top, #fffb05, #ff9900);
    background-image: -moz-linear-gradient(top, #fffb05, #ff9900);
    background-image: -ms-linear-gradient(top, #fffb05, #ff9900);
    background-image: -o-linear-gradient(top, #fffb05, #ff9900);
    background-image: linear-gradient(to bottom, #fffb05, #ff9900);
    -webkit-border-radius: 6;
    -moz-border-radius: 6;
    border-radius: 6px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 5px 10px 5px 10px;
    border: solid #fff700 1px;
    text-decoration: none;
    width: 100px;
}

.DeleteBtn {
    background: #c40000;
    background-image: -webkit-linear-gradient(top, #c40000, #ff0000);
    background-image: -moz-linear-gradient(top, #c40000, #ff0000);
    background-image: -ms-linear-gradient(top, #c40000, #ff0000);
    background-image: -o-linear-gradient(top, #c40000, #ff0000);
    background-image: linear-gradient(to bottom, #c40000, #ff0000);
    -webkit-border-radius: 6;
    -moz-border-radius: 6;
    border-radius: 6px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 5px 10px 5px 10px;
    border: solid #e01616 1px;
    text-decoration: none;
    width: 100px;
}